<div class='row'>
  <div class="span0 well text-center">
    <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
      <i class='icon-thumbs-up'></i>
    <% end %>
    <br/>
    <span id='post_<%= post.id %>_votes'><%= post.total_votes %> votes
    <br/>
    <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
      <i class='icon-thumbs-down'></i>
    <% end %>
  </div>
  <div class="span8 well">
    <% render post.categories %>
    <h4><%= link_to post.title, post %></h4>
    <p><%= post.description %></p>
    <p>
      <small>at <%= post.created_at %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>