<% if logged_in? %>
  <p class='pull-right'>
    [<%= link_to 'edit this entry', edit_post_path(@post)%>]
  </p>
<% end %>

<p>
  <h3><%= @post.title %></h3>
</p>

<p>
  <%= @post.description %>
</p>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/errors', obj: @comment %>
    <div class='control-group'>
      <%= f.label :body, 'Leave a comment' %>
      <%= f.text_area :body, rows: 5, class: 'span5' %>
    </div>
    <%= f.submit "Create Comment", class: "btn btn-primary" %>
  <% end %>
<% end %>

<h5>Comments:<h5>

  <% @post.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>

