<h4>New Category</h4>

<%= render 'shared/errors', obj: @category %>

<div class='well'>
  <%= form_for @category do |f| %>
    <div class='control-group'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Create Category", class: 'btn btn-success' %>
  <% end %>
</div>