<ul class="nav">
  <li>
    <%= link_to "Journal!", root_path, :class => 'brand' %>
  </li>
  <% if logged_in? %>
    <div class='nav_item'>
      <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
    </div>
    <div class='nav_item'>
      <%= link_to 'Log out', logout_path, class: 'btn btn-small' %>
    </div>
  <% else %>
    <div class='nav_item'>
      <%= link_to 'Log in', login_path, class: 'btn btn-small' %>
    </div>
  <% end %>
</ul>

<div class='btn-group nav_item'>
  <%= link_to '#', class: 'btn btn-small dropdowb-toggle', 'data-toggle' => 'dropdown' do %>
    Categories <span class='caret'></span>
  <% end %>
  <ul class='dropdown-menu'>
    <% Category.all.each do |category| %>
      <li>
        <%= link_to category.name, category_path(category)%>
      </li>
    <% end %>
    <% if logged_in? %>
      <li class='divider'></li>
        <%= link_to(new_category_path) do %>
          <i class="icon-plus"></i>
          New Category
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

