<ul class="nav">
  <li>
    <%= link_to "Journal!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
  </li>
</ul>
<div class='btn-group nav_item'>
  <%= link_to '#', class: 'btn btn-small dropdowb-toggle', 'data-toggle' => 'dropdown' do %>
    Categories <span class='caret'></span>
  <% end %>
  <ul class='dropdown-menu'>
    <% Category.all.each do |category| %>
      <li>
        <%= link_to category.name, category_path(category)%>
      </li>
    <% end %>
    <li class='divider'></li>
    <li>
      <%= link_to(new_category_path) do %>
        <i class="icon-plus"></li>
        New Category
      <% end %>
    </li>
  </ul>
</div>

